<div class="form-user style-1 rounded has-shadow-1">

    <div class="onepage-container">

<div class="message">
<% @user.errors.full_messages.each do |message| %>
<%= message%>
<% end%>
</div>

       <h3 class="form-header-title"> User info </h3>

    <div class="form-body">

             <%= form_for(@user) do |f| %>
                  <!-- <p class="control-label sr-only" for="inputEmail"> --> <label> Name </label>
                  <span> <%#= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%> <%= f.text_field :name, class: "name", autofocus: true, id:"inputEmail", placeholder:"名前"%> </span>

                   <!-- <p class="control-label sr-only" for="inputEmail"> Image </p> -->
                   <p> <label> Image </label> </p>
                   <p> <%= f.attachment_field :image, class: "user_image" %> </p>

                   <!-- <p> <label class="control-label sr-only" for="inputEmail"> Introduction </label> </p> -->
                   <label> Introduction </label>
                   <!-- <textarea class="introduction" name="introduction"></textarea> -->
                    <%= f.text_field :introduction, class: "introduction", autofocus: true, placeholder:"introduction"%>
                   <%#= f.text_field :introduction, autofocus: true, class:"form-control", id:"inputEmail", placeholder:""%>
                    <!-- <span class="fa fa-user form-control-icon" aria-hidden="true"></span> -->
                    <p> <input type="submit" value="Update User" data-disable-with="Update User"> </p>
                    <%#= f.submit "Update User", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
              <% end %>

    </div>
  </div>


<!-- <div class="col-md-4 col-md-offset-4"> -->
<!-- <div class="body-wrap">
  <div id="st-container" class="st-container">
    <div class="st-pusher">
      <div class="st-content">
        <div class="st-content-inner">
          <section class="slice slice-lg sct-color-1"> -->
              <!-- <div class="container"> -->
                  <!-- <div class="row"> -->
                                      <!-- <div class="form-group has-icon"> -->
                                      <!-- <div class="user-edit-image"> -->
                                          <%#= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
                                      <!-- </div> -->
                                      <!-- <label class="control-label sr-only" for="inputEmail">ProfileImage</label> -->
                                      <%#= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
                                  <!-- </div> -->
                                          <!-- <div class="form-group has-icon"> -->
                                          <!-- <span class="fa fa-user form-control-icon" aria-hidden="true"> </span> </p> -->
                                          <%#= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
                                          <!-- <span class="fa fa-user form-control-icon" aria-hidden="true"></span> -->
                                          <%#= f.attachment_field :image_id, class:"btn btn-lg btn-block btn-base-1 mt-20" %>
                                          <%#= current_user.introduction %>
                                      <!-- </div> -->
                      <!-- </div>
                  </div>
              </div> -->
          <!-- </section>
        </div>
      </div>
    </div>
  </div>
</div>