<p class="notice">  </p>

<div class="body clearfix">
  <div class="my-container">
      <div class="my-container-left">
            <h2> User info </h2>
            <%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image-1.png", fallback: "alien-smiley-icon.png" %>
            <table class="table">
                  <tr> </tr>
                  <tr>
                        <th> name </th>
                        <th> <%= current_user.name %> </th>
                  </tr>
                  <tr>
                        <th> introduction </th>
                        <th> <%= current_user.introduction %> </th>
                  </tr>
            </table>

            <p>
              <a href="/users/<%= @user.id %>/edit" class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{@user.id}"> </a>
            </p>

            <div>
                  <h2> New book </h2>

                  <%= form_for(@book) do |f| %>
                  <h5> Title </h5>
                  <%= f.text_field :title, class: "book_title" %>

                  <h5> Opinion </h5>
                  <%= f.text_area :opinion, class: "book_body" %>

                  <p> <%= f.submit 'Create Book' %> </p>
                  <% end %>
            </div>
      </div>

      <div class="my-container-right">
            <div> <h2> Users </h2> </div>
            <div>
                  <table class="table table-hover">
                        <thread>
                              <th> image </th>
                              <th> name </th>
                              <th colspan="3"> </th>
                        </thread>

                        <tbody>
                              <% @users.each do |user| %>
                                    <tr>
                                        <td> 
                                          <%= attachment_image_tag @user, :image, :fill, 30, 30, format: 'jpeg', fallback: "alien-smiley-icon.png" %> 
                                        </td>
                                        <td> 
                                          <%= user.name %> 
                                        </td>
                                        <td> 
                                          <%= link_to "Show", user_path(user.id), class: "user_#{user.id}" %> 
                                        </td>
                                    </tr>
                              <% end %>
                        </tbody>
                  </table>
            </div>
      </div>
    </div>
</div>








<!-- <p class="notice">  </p>

<div class="mypage-left">
  <h2> User info </h2>
  <%#= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg' %>
  <table>
    <tr>
      <th> name </th>
      <th>  </th>
    </tr>
    <tr>
      <th> introduction </th>
      <th> </th>
    </tr>
  </table> -->

  <!-- <div class="profile-container"> -->
      <!-- <h3 class="profile-name"><%#= @user.name %></h3> -->
      <%#= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
      <!-- <p>
        <button type="button"> <%#= link_to "プロフ編集", edit_user_path(current_user), class: "pull-right" %> </button>
      </p>
  </div> -->

<!-- <div>
  <h2> New book </h2>
  <%#= form_for(@book) do |f| %>

  <h5> Title </h5>
  <%#= f.text_field :title %>

  <h5> Opinion </h5>
  <%#= f.text_area :title %>

  <p> <%#= f.submit 'Create Book' %> </p>
  <%#= f.attachment_field :image %>
  <%# end %>
</div>
</div> -->




<!-- <section class="mypage-right sct-color-1 slice"> -->
  <!-- <div class="container-fluid masonry-container"> -->
    <!-- <div class="row"> -->
      <!-- <div class="col-md-8 col-sm-offset-2"> -->

        <!-- <div class=" mypage-right masonry-wrapper-cols">
          <div class="masonry-gutter"> <h2> Users </h2> </div>
          <span> image </span>
          <span> name </span>

         <%# @users.each do |user| %> -->
            <!-- <div class="masonry-block"> -->
              <!-- <div class="block block-image v1"> -->
                <!-- <div class="block-image"> -->
                  <!-- <div class="view view-first"> -->
                   <!--  <%#= attachment_image_tag user, :image %> -->
                  <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="block-content"> -->
                 <!--  <%#= image_tag('sample-author1.jpg', class: "img-circle pull-left profile-thumb") %>  -->
                  <!-- <h3 class="block-title"> -->
        <!--  <%#= link_to post_image_path(post_image.id) do %>  -->
                     <!-- <i class="fa fa-map-marker"></i> --><%#= user.name %>
         <%# end %>
                  <!-- </h3> -->
                  <!-- <p><%#= user.introduction %></p> -->
                  <!-- <ul class="inline-meta">
                    <li> -->
                      <!-- <img> <%#= user.book.image_id %> </img> -->
                      <!-- <img src="no-image-icon.jpg" alt="no-image-icon.jpg"> </img>
                    </li> -->
                    <%# @books.each do |book| %>
                    <!-- <li> -->
                      <!-- <p> <%#= book.title %> </p> -->
                    <!-- </li>
                    <li> -->
                      <!-- <p> <%#= book.opinion %> </p> -->
                    <!-- </li> -->
                    <%# end %>
                    <!-- <li> -->
              <%# if @user_book.user == current_user %>
              <%#= link_to "destroy", user_path(@user_book), method: :delete %>
              <%# end %>
            <!-- </li> -->
                  <!-- </ul>
                </div> -->
              <!-- </div> -->
            <!-- </div> -->
          <%# end %>
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </section> -->