<div class="body clearfix">
  <div class="my-container">
      <div class="my-container-left">
        <div class="message"> <%= flash[:notice] %> </div>
            <h2> User info </h2>
            <%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg' %>
            <table class="table">
                  <tr> </tr>
                  <tr>
                        <th> name </th>
                        <th> <%= current_user.name %> </th>
                  </tr>
                  <tr>
                        <th> introduction </th>
                        <th> <%= current_user.introduction %> </th>
                  </tr>
            </table>

            <p>
                  <a href="/users/<%= @user.id %>/edit" class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"> </a>
                  <!-- <button type="button"> <%#= link_to "プロフ編集", edit_user_path(current_user), class: "" %> </button> -->
                  <!-- <button class="btn btn-default glyphicon glyphicon-wrench"> <%#= link_to "", edit_user_path(current_user), class: "edit_user_#{@user.id}" %> </button> -->
            </p>

            <div>
                  <h2> New book </h2>

                  <%= form_for(@book) do |f| %>
                  <h5> Title </h5>
                  <%= f.text_field :title %>

                  <h5> Opinion </h5>
                  <%= f.text_area :opinion %>

                  <p> <%= f.submit 'Create Book' %> </p>
                  <% end %>
            </div>
      </div>

      <div class="my-container-right">
            <div class=""> <h2> Book detail </h2> </div>
            <div>
                  <table class="table">
                        <thread>
                              <th></th>
                        </thread>

                        <tbody>
                                    <tr>
                                        <td> <%= attachment_image_tag @user, :image, :fill, 30, 30, format: 'jpeg' %> </td>
                                        <td> <%= @bookf.title %> </td>
                                        <td> <%= @bookf.opinion %> </td>
                                        <!-- <td> <button> <%#= link_to "edit", edit_book_path(current_user.id) %> </button> </td> -->
                                        <td> <!-- <a href="/books/<%= @bookf.id %>/edit" class="btn-sm btn-success"> Edit </a> </td> --> <button class="btn-sm btn-success"> <%= link_to "edit", edit_book_path(@bookf.id) %> </button> </td>
                                        <td>
                                        <td><!--  <a href="/books/" class="btn-sm btn-danger" data-confirm="本当に消しますか？"> Destroy </a> </td> --> <button class="btn-sm btn-danger"> <%= link_to "destroy", book_path(@bookf.id), method: :'delete', "data-confirm" => "本当に消しますか？"%> </button> </td>
                                    </tr>
                        </tbody>
                  </table>
            </div>
      </div>
    </div>
</div>







<!-- <section class="mypage-right sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <div class="masonry-gutter"> <h2> Book detail </h2> </div>
              <ul class="inline-meta">
                    <li>
                      <img> <%#= user.book.image_id %> </img>
                      <img src="no-image-icon.jpg" alt="no-image-icon.jpg"> </img>
                    </li>
                    <%#@book.each do |book| %>
                    <li>
                      <p> <%#= book.title %> </p>
                    </li>
                    <li>
                      <p> <%#= book.opinion %> </p>
                    </li>
                    <%# end %>
                    <%# if @user_book.user == current_user %>
                    <li>
                      <%#= form_for(@book) do |f| %>
                      <%#= f.submit 'edit' %>
                      <%# if @user_book.user == current_user %>
                      <button> <%#= link_to "edit", edit_book_path(current_user.id) %> </button>
                    <%# end %>
                    </li>
                    <li>
                      <%#= form_for(@book) do |f| %>
                      <%# if @user_book.user == current_user %>
                      <button> <%#= link_to 'destroy', books_path(@book), method: :delete %> </button>
                      <%#= link_to "destroy", user_path(@user_book), method: :delete %>
                    <%# end %>
                    </li>

                    <li>
                    <a href="#">23 コメント</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          <%# end %>
        </div>
      </div>
    </div>
  </div>
</section> -->